
FRAME {
	border-color : 				#ff0000;
	}

PRE {
	font-family: 				Lucida Console, Courier;
	font-size: 					75%;
	line-height: 				120%;
	}
A:link {
	color: 						#ffcc33;
	text-decoration: 			none;
	}

A:visited {
	color: 						#ffcc33;
	text-decoration: 			none;
	}

A:hover {
	color: 						#FFFF00;
	text-decoration: 			underline;
	}

BODY {
	font-family: 				Verdana;
	overflow-X:					hidden;
	font-size: 					90%; 
	color: 						#ffffff;
	}
BODY.WWWinamp_left {
	background-color: 			#224466;
	scrollbar-3dlight-color: 	#ffffff;
	scrollbar-highlight-color: 	#335577;
	scrollbar-face-color: 		#335577;
	scrollbar-shadow-color: 	#335577;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-arrow-color: 		#FFFFFF;
	scrollbar-track-color: 		#113355;
	}
BODY.WWWinamp_right {
 	background-color: 			#000000;
	scrollbar-3dlight-color: 	#FFCC00;
	scrollbar-highlight-color: 	#000000;
	scrollbar-face-color: 		#000000;
	scrollbar-shadow-color: 	#000000;
	scrollbar-darkshadow-color: #FFCC00;
	scrollbar-arrow-color: 		#FFCC00;
	scrollbar-track-color: 		#666666;
	}
BODY.WWWinamp_control {
	padding:					0px;
	margin:						0px;
 	background-color: 			#ffcc33;
	color:						#000000;
	}

TD {
	font-family: 				Tahoma,Verdana,Arial; 
	font-size: 					90%;
	vertical-align:				middle;
	}
TD.WWWinamp_left {
	background-color: 			#224466;
	}
TD.WWWinamp_right {
 	background-color: 			#000000;
	}

INPUT {
	background-color: 			#000000; 
	font-family: 				Tahoma,Verdana,Arial; 
	font-size: 					75%; 
	font-weight: 				bold;
	color: 						#FFFF00;
	border: 					1px #FFCC33 solid; 
	}
.footer {
	font-family: 				Verdana,Arial; 
	font-size: 					75%;
	}
.symbols {
	font-size:					120%; 
	font-family:				WebDings;
	}
.symbols_resize {
	font-size:					120%; 
	font-family:				WebDings;
	}
A:link.symbols_resize {
	color:						#000000;
	text-decoration: 			none;
	}
A:visited.symbols_resize {
	color:						#000000;
	border:						1px #ffcc33 solid;
	text-decoration: 			none;
	}
A:hover.symbols_resize {
	background-color:			#FFBB22;
	border:						1px #FF9900 solid;
	color: 						#000000;
	text-decoration: 			none;
	}

.current {
	background-color: 			#990000;
	border: 					1px solid;
	padding:					4;
	}
.CurrentSong {
	color: 						#FFFF00;
	}

.resizeControl {
	border:						0px;
	border-collapse:			collapse;
	margin:						0px;
	padding:					0px;
	font-family: 				Verdana,Arial; 
	font-size:					70%;
	font-weight: 				bold;
	color: 						#663300;
	vertical-align:				top;
	}
.resizeControl a, .resizeControl a:visited, .resizeControl a:hover {
	color: 						#000000;
	}
.sI {
	background-color:			#FFFFCC;
	font-size:					90%;
	border:						1px #000000 solid;
	color:						#000000;
	padding:					3px;
	position:					relative;
	z-index:					9999999;
    visibility:					hidden;
	font-family: 				Tahoma,Verdana,Arial; 
	}
